 
.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #255BE3;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #CAF0F8;
}
th, td {
    padding: 10px;
    text-align: center;
}
th {
    background-color: #ffffff;
}
tr:nth-child(even) {
    background-color: #ffffff;
}